.auth_form__container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background:linear-gradient(200deg, #2e9b9b, #e8e6ee, #222480);
    z-index:-1;
}

.ButtonLogin {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    position: fixed;
    right: 630px;
    bottom: 100px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #1976d2;
  }

.ButtonRegister {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    position: fixed;
    right: 730px;
    bottom: 100px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: #1976d2;
}
